torch==2.8.0+cu129
torchvision==0.23.0+cu129
opencv-python==4.11.0.86
diffusers==0.31.0
transformers==4.57.3
tokenizers==0.22.1
accelerate==1.12.0
tqdm==4.67.1
imageio==2.37.0
easydict==1.13
ftfy==6.3.1
dashscope==1.25.2
imageio-ffmpeg==0.6.0
numpy==2.2.6
wandb==0.23.0
omegaconf==2.3.0
einops==0.8.1
av==13.1.0
starlette==0.50.0
pycocotools==2.0.10
lmdb==1.7.5
matplotlib==3.10.7
sentencepiece==0.2.1
pydantic==2.11.0
scikit-image==0.25.2
dominate==2.9.1
flask==3.1.2
flask-socketio==5.5.1
torchao==0.17.0
spaces==0.47.0
gradio==5.49.0
gradio-client==1.13.3
sageattention==2.2.0
sageattn3==1.0.0
flash_attn==2.8.1